body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    background-color: rgb(240, 240, 240);
width: 4%;
height: 53em;
float: left;
margin-left: -0.5%;

.main{
    width: 100%;
    overflow:  hidden;
}

}
.top{
    width: 101%;
    background-color: rgb(240, 240, 240);
    height: 2.4em;
    margin-top: -0.5%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    /* overflow:  hidden; */
}

.left{
    width: 30%;
    height: 53em;
    background-color: rgb(248, 248, 248);
    float: left;
    border: 1px solid rgba(211, 211, 211, 0.274);
    overflow:  hidden;
    border-left: 1px solid rgba(197, 197, 197, 0.527);
    border-top: 1px solid rgba(197, 197, 197, 0.527);
    border-radius: 1%;
}

.right{
    width: 55.8%;
    height: 53em;
    background-color: rgb(253, 253, 253);
    /* float: right; */
    margin-right: 0px;
    overflow:  hidden;
}

.logo{
    width: 1.8%;
    margin-right: 0.5%;
    margin-left: 0.6em;
    margin-bottom: -0.3em;
    float: left;
    position: relative;
    top: 0.3em;
    
    
}

.lop{
    width: 1.8%;
    margin-right: 0.5%;
    margin-left: 0.4em;
    margin-bottom: -0.3em;
    float: left;
    position: relative;
    top: -0.6em;
}

li{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-left: -2.5em;
    margin-bottom: 0.1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em
    
}

li:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
img{
    width: 18px;
    border-radius: 50%;

}
.down{
    position: relative;
    top: 34em;
    margin-bottom: 0.6em;
}


.chat{
 font-size: 150%;
font-weight: bold;
margin-left: 1em;
margin-top: 0.4em;

}

.menu{
    position: relative;
    top: -3.4em;
    left: 20em;
    width: 20px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

.edit{
    position: relative;
    top: -3.4em;
    left: 14.2em;
    width: 20px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

.menu:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
.edit:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
input{
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    margin-left: 1.6em;
    width: 80%;
    height: 1.5em;
    padding-left: 2em;
    background-image: url(icons/search.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 8px;
    font-size: 14px;
}

input:hover{
    width: 82%;
    border-bottom: 2px solid green;

}
.chatlist{position: relative;
height: calc(100% - 110px);
overflow: auto;
}
.chatlist .active {
    position: relative;
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
overflow: auto;

}

.chatlist{
    overflow: hidden;
    /* height: 100; */
}

.chatlist .active:hover {
    background: #f5f5f5;
}

.cover{
    width: 12%;
    border-radius: 50%;
}
h5{
    float: left;
    position: absolute;
    top: -1%;
    left: 18.4%;
}

.time{
    float: left;
    position: absolute;
    top: 1%;
    right: 12.9%;
    font-weight: 400;
    font-size: 12px;
}

.baat{
    float: left;
    position: absolute;
    top: 4.2%;
    left: 18.6%;
    font-size: 13px;
}

.cover1{
    width: 12%;
    height: 2.8em;
    border-radius: 50%;
    margin-top: 3.9%;
}

.ana{
    float: left;
    position: absolute;
    top: 12%;
    left: 18.6%;
    margin-top: 3%;

}

.time1{
    float: left;
    position: absolute;
    top: 12.2%;
    right: 12.6%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)

}

.baat1{
    float: left;
    position: absolute;
    top: 16.2%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread{
    float: left;
    position: absolute;
    top: 15.8%;
    right: 9.2%;
    font-size: 12px;
    margin: 3%;
    color: white;
    background-color: rgb(0, 189, 0);
    border-radius: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;

}

.raju{
    float: left;
    position: absolute;
    top: 22.8%;
    left: 18.6%;
    margin-top: 3%;

}

.time2{
    float: left;
    position: absolute;
    top: 22.6%;
    right: 12.2%;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3%;
    color: rgb(0, 189, 0);

}

.baat2{
    float: left;
    position: absolute;
    top: 26.8%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread1{
    float: left;
    position: absolute;
    top: 25.9%;
    right: 9%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);

}
.babu{
    float: left;
    position: absolute;
    top: 33.6%;
    left: 18.6%;
    margin-top: 3%;

}

.time3{
    float: left;
    position: absolute;
    top: 33.4%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)


}

.baat3{
    float: left;
    position: absolute;
    top: 37.6%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread2{
    float: left;
    position: absolute;
    top: 37.2%;
    right: 9%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);


}
.cover2{
    width: 12%;
    border-radius: 50%;
    margin-top: 3.5%;
}

.listhead:hover{
    background-color: rgb(195, 221, 230);

}

.cover3{
    width: 12%;
    height: 2.8em;
    border-radius: 50%;
    margin-top: 3.5%;
}
.anuv{
    float: left;
    position: absolute;
    top: 44.8%;
    margin-top: 3%;

}

.time4{
    float: left;
    position: absolute;
    top: 44.5%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)


}

.baat4{
    float: left;
    position: absolute;
    top: 48.7%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread3{
    float: left;
    position: absolute;
    top: 48.3%;
    right: 9.2%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0)

}
.time5{
    float: left;
    position: absolute;
    top: 55.9%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)


}

.baat5{
    float: left;
    position: absolute;
    top: 59.4%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread4{
    float: left;
    position: absolute;
    top: 59.1%;
    right: 9%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);

}
.atif{
    float: left;
    position: absolute;
    top: 55.6%;
    left: 18.6%;
    margin-top: 3%;

}

.time6{
    float: left;
    position: absolute;
    top: 66.2%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)


}

.baat6{
    float: left;
    position: absolute;
    top: 70.6%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread5{
    float: left;
    position: absolute;
    top: 69.4%;
    right: 9%;
    font-size: 12px;
    margin: 3%; 
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);

}
.xi{
    float: left;
    position: absolute;
    top: 66.9%;
    left: 18.6%;
    margin-top: 3%;

}
.Shoaib{
    float: left;
    position: absolute;
    top: 76.9%;
    left: 18.6%;
    margin-top: 3%;

}

.time7{
    float: left;
    position: absolute;
    top: 76.1%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 189, 0)

}

.baat7{
    float: left;
    position: absolute;
    top: 80.8%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread7{
    float: left;
    position: absolute;
    top: 79.9%;
    right: 9%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);

}
.azam{
    float: left;
    position: absolute;
    top: 86.9%;
    left: 18.6%;
    margin-top: 3%;

}

.time8{
    float: left;
    position: absolute;
    top: 86.6%;
    right: 12.2%;
    font-size: 12px;
    margin-top: 3%;
    color: rgb(0, 189, 0);
    font-weight: 600;

}

.baat8{
    float: left;
    position: absolute;
    top: 91%;
    left: 18.6%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread8{
    float: left;
    position: absolute;
    top: 90.6%;
    right: 9%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;

    border-radius: 50%;
    color: white;
    background-color: rgb(0, 189, 0);

}

.wp{
    width: 8%;
    position: relative;
    left: 52%;
    top: 40%;
    opacity: 15%;
}

h2{
    position: relative;
    top: 39.8%;
    text-align: center;
    right: -6%;
    margin-bottom: -8px;
    font-weight: 300;
}
.para{
    position: relative;
    top: 40%;
    text-align: center;
    right: -6%;
    color: gray;

}

.lock{
    position: absolute;
    bottom: 6%;
    right: 29.5%;
    color: gray;
}

.tala{
    margin-right: 10px;
    width: 13px;
    margin-bottom: -2px;
    opacity: 75%;
}

