body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
background-color: rgb(255, 255, 255);
width: 4%;
height: 53em;
float: left;
}
.top{
    width: 100%;
    background-color: rgb(240, 240, 240);
    height: 2em;
    margin-right: 0px;

}

.left{
    width: 30%;
    height: 53em;
    background-color: rgb(248, 248, 248);
    float: left;
    border: 1px solid rgba(211, 211, 211, 0.274);

}

.body{
    width: 65.8%;
    height: 53em;
    background-color: rgb(253, 253, 253);
    float: right;
    margin-right: 0px;

}

.logo{
    width: 1.8%;
    margin-right: 0.5%;
    margin-left: 0.2em;
    margin-bottom: -0.3em;
    float: left;
    position: fixed;
    top: 0.8em;
    
    
}

.lop{
    width: 1.8%;
    margin-right: 0.5%;
    margin-left: 2.2em;
    margin-bottom: -0.3em;
    float: left;
    position: fixed;
    top: 0.1em;
}

li{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-left: -2.5em;
    margin-bottom: 0.1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em
    
}

li:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
img{
    width: 16px;
    border-radius: 50%;

}
.down{
    position: relative;
    top: 34em;
    margin-bottom: 0.6em;
}
.chat{
 font-size: 150%;
font-weight: bold;
margin-left: 1em;
margin-top: 0.4em;

}

.menu{
    position: fixed;
    top: 2.8em;
    left: 23.6em;
    width: 20px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

.edit{
    position: fixed;
    top: 2.9em;
    left: 20.8em;
    width: 20px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

.menu:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
.edit:hover{
    background-color: rgb(194, 231, 243);
    border-radius: 6px;
}
input{
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    margin-left: 1.6em;
    width: 80%;
    height: 1.5em;
    padding-left: 2em;
    background-image: url(icons/search.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 8px;
    font-size: 14px;
}

input:hover{
    width: 82%;
    border-bottom: 2px solid green;

}
.chatlist{position: relative;
height: calc(100% - 110px);
overflow: auto;
}
.chatlist .active {
    position: relative;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
overflow: auto;

}

.chatlist .active:hover {
    background: #f5f5f5;
}

.cover{
    width: 12%;
    border-radius: 50%;
}
h5{
    float: left;
    position: fixed;
    top: 13.8%;
    left: 10.6%;
}

.time{
    float: left;
    position: fixed;
    top: 14.8%;
    left: 29%;
    font-size: 12px;
}

.baat{
    float: left;
    position: fixed;
    top: 17.0%;
    left: 10.7%;
    font-size: 13px;
}

.cover1{
    width: 12%;
    height: 2.8em;
    border-radius: 50%;
    margin-top: 3.9%;
}

.ana{
    float: left;
    position: fixed;
    top: 19%;
    left: 10.6%;
    margin-top: 3%;

}

.time1{
    float: left;
    position: fixed;
    top: 18.8%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat1{
    float: left;
    position: fixed;
    top: 22.2%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread{
    float: left;
    position: fixed;
    top: 21%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}

.raju{
    float: left;
    position: fixed;
    top: 25.7%;
    left: 10.6%;
    margin-top: 3%;

}

.time2{
    float: left;
    position: fixed;
    top: 25.4%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat2{
    float: left;
    position: fixed;
    top: 29.2%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread1{
    float: left;
    position: fixed;
    top: 27.7%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.babu{
    float: left;
    position: fixed;
    top: 32.9%;
    left: 10.6%;
    margin-top: 3%;

}

.time3{
    float: left;
    position: fixed;
    top: 32%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat3{
    float: left;
    position: fixed;
    top: 36.2%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread2{
    float: left;
    position: fixed;
    top: 34.2%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.cover2{
    width: 12%;
    border-radius: 50%;
    margin-top: 3.5%;
}

.listhead:hover{
    background-color: rgb(195, 221, 230);

}

.cover3{
    width: 12%;
    height: 2.8em;
    border-radius: 50%;
    margin-top: 3.5%;
}
.azam{
    float: left;
    position: fixed;
    top: 40%;
    left: 10.6%;
    margin-top: 3%;

}

.time4{
    float: left;
    position: fixed;
    top: 39.9%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat4{
    float: left;
    position: fixed;
    top: 43%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread3{
    float: left;
    position: fixed;
    top: 41.9%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.time5{
    float: left;
    position: fixed;
    top: 46.9%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat5{
    float: left;
    position: fixed;
    top: 50%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread4{
    float: left;
    position: fixed;
    top: 49.1%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.atif{
    float: left;
    position: fixed;
    top: 47%;
    left: 10.6%;
    margin-top: 3%;

}

.time6{
    float: left;
    position: fixed;
    top: 53.7%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat6{
    float: left;
    position: fixed;
    top: 57.3%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread5{
    float: left;
    position: fixed;
    top: 55.5%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.xi{
    float: left;
    position: fixed;
    top: 54%;
    left: 10.6%;
    margin-top: 3%;

}
.babu1{
    float: left;
    position: fixed;
    top: 60.8%;
    left: 10.6%;
    margin-top: 3%;

}

.time7{
    float: left;
    position: fixed;
    top: 60.7%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat7{
    float: left;
    position: fixed;
    top: 64%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread7{
    float: left;
    position: fixed;
    top: 62.7%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.azam1{
    float: left;
    position: fixed;
    top: 67.8%;
    left: 10.6%;
    margin-top: 3%;

}

.time8{
    float: left;
    position: fixed;
    top: 67.5%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: green;

}

.baat8{
    float: left;
    position: fixed;
    top: 71%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}
.unread8{
    float: left;
    position: fixed;
    top: 69.7%;
    left: 28.7%;
    font-size: 12px;
    margin: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    border-radius: 50%;
    color: white;
    background-color: green;

}
.azam9{
    float: left;
    position: fixed;
    top: 74.9%;
    left: 10.6%;
    margin-top: 3%;

}

.time9{
    float: left;
    position: fixed;
    top: 74.8%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: black;

}

.baat9{
    float: left;
    position: fixed;
    top: 78%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}

.azam9{
    float: left;
    position: fixed;
    top: 74.9%;
    left: 10.6%;
    margin-top: 3%;

}

.time9{
    float: left;
    position: fixed;
    top: 74.8%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: black;

}

.baat9{
    float: left;
    position: fixed;
    top: 78%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}


.azam3{
    float: left;
    position: fixed;
    top: 80.8%;
    left: 10.6%;
    margin-top: 3%;

}

.time11{
    float: left;
    position: fixed;
    top: 80.8%;
    left: 29%;
    font-size: 12px;
    margin-top: 3%;
    color: black;

}

.baat11{
    float: left;
    position: fixed;
    top: 84%;
    left: 10.7%;
    font-size: 13px;
    margin-top: 2.2%;

}

.wp{
    width: 6%;
    position: fixed;
    right: 26%;
    top: 44%;
    opacity: 10%;
}

h2{
    position: relative;
    top: 50%;
    text-align: center;
    right: -6%;
    margin-bottom: -8px;
}
.para{
    position: relative;
    top: 50%;
    text-align: center;
    right: -6%;

}